# Render your form in the login.html and any other required HTML or template inheritance stuff that you need to make it a valid Web page with the fundamental five (see specifications below).

{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <main>
        <div>
            <h1>Login</h1>
            <form method=""post"> # a form tag with method "post" that contains any kind of HTML structures but must include: any security stuff, your rendered form, and a button with the content "Login"
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}