{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <main>  # Template Specifications, Feature 10:
        <div>
            <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}    # any security stuff
            {{ form.as_p }}     # rendered form
            <button>Signup</button>
        </form>
    </div>
    </main>
    {% endblock content %}
</body>
</html>