{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'receipt_list' %}">Home</a>
        </nav>
    </header>
    <main>
    <table>
        <h1>My Receipts</h1>
        <thead>
            <tr>
                <th>Vendor
                    <td>{{ receipt.vendor }}</td>
                </th>
                <th>Total
                    <td>{{ receipt.total }}</td>
                </th>
                <th>Tax
                    <td>{{ receipt.tax }}</td>
                </th>
                <th>Date
                    <td>{{ receipt.date|date: "m/d/YY" }}</td>
                </th>
                <th>Category    # show the Category object's name
                    <td>{{ receipt.category.name }}</td>
                </th>
                <th>Account     # show the Account object's name
                    <td>{{ receipt.account.name }}</td>
                </th>
            </tr>
        </thead>
    </table>
    </main>
</body>
</html>